.score_button {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid var(--black-40);
  font-size: var(--font-normal);
  font-weight: 400;
  color: var(--black-100);
  line-height: 23.2px;
  padding: 8px 24px;
  max-width: 240px;
  width: 100%;
  text-align: center;
  background-color: var(--bg-white);
  position: relative;
  border-radius: 13.5px;
  cursor: pointer;
  transition:
    background 0.2s,
    color 0.2s,
    border-color 0.2s;
}

/* Left & Right arrow */
.score_button::before,
.score_button::after {
  content: '';
  position: absolute;
  top: 50%;
  width: 21px;
  height: 21px;
  background: white;
  transition:
    background 0.2s,
    color 0.2s,
    all 0.2s;
  border: 1px solid var(--black-40);
  transform: translateY(-50%) rotate(-45deg);
}

.score_button::before {
  left: -9px;
  border-right: none;
  border-bottom: none;
}

.score_button::after {
  right: -9px;
  border-left: none;
  border-top: none;
}

/* Horizontal line*/
.score_button__text::before,
.score_button__text::after {
  content: '';
  position: absolute;
  top: 49%;
  width: 60px;
  height: 1px;
  background: var(--black-40);
}

.score_button__text::before {
  left: -72px;
}

.score_button__text::after {
  right: -72px;
}

.score_button.focused {
  border-color: var(--orange-100);
}

.score_button.focused::before,
.score_button.focused::after {
  border-color: var(--orange-100);
}

.score_button__text.focused::before,
.score_button__text.focused::after {
  background: var(--orange-100);
}

.inactive {
  color: var(--black-40);
}

@media (max-width: 1024px) {
  .score_button {
    max-width: calc(100% - 50px);
  }
}
